.image-gallery-thumbnails-container {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}

.gallery-modal .image-gallery {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .gallery-modal .image-gallery-slide {
    height: calc(100vh - 80px); /* Adjust based on thumbnail height */
  }

  .gallery-modal .image-gallery-thumbnails-wrapper {
    height: 80px;
  }
}